---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact | Tinybox">
  <style slot="inside-head">
    @import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
    .signature {
      font-family: 'Covered By Your Grace', cursive;
      font-size: var(--font-size-md);
    }
  </style>
  <main>
    <section>
      <h1>Get in touch</h1>
      <p>If you want to work on something together, reach out!</p>
      <p>
        I'm always looking for new exciting opportunities, <br /> if you have something
        fun you want to work on, reach out and we can make it happen.
      </p>
    </section>
    <section class="contact">
      <article class="contact__info">
        <h2>Contact information</h2>
        <p>
          The best way to get a hold of me is to reach out through the form on
          this page.
        </p>
        <p>
          If you don't want to use the form, you can <a
            href="mailto:hello@tinybox.dev">reach out via email</a
          >
        </p>
        <p>Talk soon</p>
        <p class="signature">- Mykal Machon</p>
      </article>
      <article class="contact__form">
        <h2>Message us</h2>
        <form name="contact" method="POST" data-netlify="true">
          <div class="form-control">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              required
              placeholder="Your Name"
            />
          </div>
          <div class="form-control">
            <label for="email">Email</label>
            <input
              name="email"
              id="email"
              type="email"
              required
              placeholder="your.name@gmail.com"
            />
          </div>
          <div class="form-control">
            <label for="whats-up">What do you want to work on?</label>
            <textarea
              placeholder="That really cool app idea your uncle told you about."
              name="whats-up"
              id="whats-up"
              cols="30"
              rows="5"></textarea>
          </div>
          <button class="btn--primary" type="submit">Send your message</button>
        </form>
      </article>
    </section>
  </main>
</Layout>

<style lang="scss">
  .contact {
    margin: var(--size-10) 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: var(--size-5);
    border-radius: var(--radius-2);
    border: 1px solid var(--gray-7);
    box-shadow: var(--shadow-2);
    article {
      padding: var(--size-3);
    }
    article.contact__form {
      margin-bottom: var(--size-5);
    }
    article.contact__info {
      position: relative;
      background: var(--acc-1);
      border-top-left-radius: var(--radius-2);
      border-bottom-left-radius: var(--radius-2);
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(var(--acc-1) 0%, var(--acc-3) 100%);
        z-index: -1;
        // border-top-left-radius: var(--radius-round);
        // border-bottom-right-radius: var(--radius-round);
      }
    }
    @media screen and (max-width: 1000px) {
      margin: var(--size-5) 0;
      grid-template-columns: 1fr;
      gap: var(--size-3);
      article.contact__info {
        border-top-left-radius: var(--radius-2);
        border-top-rigt-radius: var(--radius-2);
        border-bottom-left-radius: 0;
      }
    }
  }

  .form-control {
    display: flex;
    flex-direction: column;
    margin: var(--size-3) 0;
  }

  button.btn--primary {
    padding: var(--size-2) var(--size-3);
    background: var(--acc-2);
    color: white;
    border-radius: var(--radius-2);
    border: 3px solid var(--acc-2);
    &:hover,
    &:focus {
      cursor: pointer;
      background: var(--acc-1);
      border-color: var(--acc-1);
    }
  }

  input,
  textarea,
  button {
    margin-top: var(--size-3);
    padding: var(--size-2);
    border: 1px solid var(--gray-7);
    color: var(--gray-1);
    border-radius: var(--radius-2);
    background: #1e2a43;
    &:focus {
      outline-style: solid;
      outline-width: 3px;
      outline-offset: 2px;
      outline-color: var(--acc-1);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
