---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Testimonial from '../components/Testimonial.astro';
import Testimonials from '../components/Testimonials.astro';

const projects = await Astro.glob('./work/**/*.md');
const nonDraftProjects = projects.filter((project) => !project.frontmatter.draft)
const featuredProjects = nonDraftProjects.slice(0, 3);
---

<Layout title="Home | Tinybox">
  <main>
    <section>
      <p>Hey, my name is <a href="https://mykal.codes/about-me/">Mykal Machon</a>.</p>
      <p>
        I'm a software developer; Tinybox is my consulting business. If
        you're interested in working with you me, you can <a href="/contact">reach out</a>. 
        If you want to see some of my work, <a href="/work">check out my portfolio</a>.
      </p>
    </section>
    <section>
      <h2>Recent Work</h2>
      <p>Here's a list of projects that I've worked on</p>
      <div class="works__list">
        {featuredProjects.map((project) => <ProjectCard project={project} />)}
      </div>
      <p class="centered">
        <a class="a--big" href="/work">see more work</a>
      </p>
    </section>
    <Testimonials>
      <Testimonial
        quote={`It was an absolute pleasure working with Mykal on my company website. He was extremely professional and very quick to respond. He was great at listening to my ideas but contributed both a creative and technical element to the design process that took my website to the next level. I will definitely work with him again on projects moving forward`}
        author={{
          name: 'Angela Dhillon',
          role: 'Founder of AND Architectural',
          image_url: '/assets/testimonials/and-architectural-angela.png',
        }}
      />
      <Testimonial
        quote={`Fantastic service and a great guy. We recommend Tinybox to anyone who needs a Shopify website or web services. We'll be working together for any further web-based services we require! Mykal will deliver exactly what you want, thanks for all your hard work!`}
        author={{
          name: 'Saurabh Patel',
          role: 'E-Commerce Manager at VSSL Gear',
          image_url: '/assets/testimonials/vssl-saurabh.jpg',
        }}
      />
      <Testimonial
        quote={`We are so happy with Mykal's work! He made us a beautiful new website and online store, checking in frequently to make sure we liked the direction he was taking everything. He has been super accommodating of our last-minute requests and changes. We're so glad we switched to Tinybox!`}
        author={{
          name: 'Katherine Taylor',
          role: "Founder of SaraBella's Gluten Free Café",
          image_url: '/assets/testimonials/sbgf-katherine.jpg',
        }}
      />
    </Testimonials>
  </main>
</Layout>

<style lang="scss">
  .works__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--size-3);
    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .a--big {
    padding: var(--size-2);
  }
</style>
