---
export interface Props {
  title: string;
}

import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import MainHead from '../components/MainHead.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      async
      src="https://unpkg.com/flickity@2.3.0/dist/flickity.pkgd.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2.3.0/dist/flickity.css"
    />
    <MainHead />
  </head>
  <body>
    <div class="site-container">
      <Nav />
      <div class="container">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
