@import "open-props/style";

:root {
  // define colors
  // --paper-1: var(--gray-1);
  // --paper-2: var(--gray-2);
  // --paper-3: var(--gray-3);

  // --ink-1: var(--gray-9);
  // --ink-2: var(--gray-7);
  // --ink-3: var(--gray-5);

  // define fonts & font-sizes
  --heading: "Inter", sans-serif;
  --heading-color: var(--ink-1);

  --body: "Inter", sans-serif;
  --body-color: var(--ink-2);
  --body-size: var(--font-size-1);
}

.theme__day {
  --paper-1: var(--gray-1);
  --paper-2: var(--gray-2);
  --paper-3: var(--gray-3);

  --ink-1: var(--gray-9);
  --ink-2: var(--gray-7);
  --ink-3: var(--gray-5);
}

.theme__night {
  --paper-1: var(--gray-9);
  --paper-2: var(--gray-8);
  --paper-3: var(--gray-6);

  --ink-1: var(--gray-1);
  --ink-2: var(--gray-3);
  --ink-3: var(--gray-4);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading);
  color: var(--ink-1);
}

p,
input,
textarea,
select,
a,
small,
label,
button,
ul,
ol,
li {
  font-family: var(--body);
  color: var(--ink-2);
}

p,
input,
textarea,
select,
label,
button {
  font-size: var(--body-size);
}

p {
  margin: var(--size-3) 0;
}

h1 {
  font-size: var(--font-size-fluid-2);
}

h2 {
  font-size: var(--font-size-fluid-1);
}

.site-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--paper-1);
}

.container {
  width: 100%;
  max-width: 68ch;
  padding: var(--size-4);
}

// form stuff
form {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  input,
  textarea,
  select {
    padding: var(--size-2);
    background: var(--paper-1);
    border: 2px solid var(--paper-3);
  }
}

button {
  padding: var(--size-2);
  background: var(--paper-2);
  border: 2px solid var(--paper-3);
  transition: all 0.2s var(--ease-1);
  &:hover,
  &:focus {
    background: var(--paper-1);
    border: 2px solid var(--paper-2);
    color: var(--gray-1);
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.3;
    &:hover {
      background: var(--gray-4);
    }
  }
}
