@import "open-props/style";

* {
  box-sizing: border-box;
}
:root {
  // define colors

  // define fonts & font-sizes
  --heading: "Inter", sans-serif;
  --heading-color: var(--gray-9);
  --body: "Inter", sans-serif;
  --body-color: var(--gray-7);
  --body-size: var(--font-size-1);

  // define spaces & data
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading);
  color: var(--heading-color);
}

p,
input,
textarea,
select,
a,
small,
label,
button {
  font-family: var(--body);
  color: var(--body-color);
}

p,
input,
textarea,
select,
label,
button {
  font-size: var(--body-size);
}

p {
  margin: var(--size-3) 0;
}

h1 {
  font-size: var(--font-size-fluid-2);
}

h2 {
  font-size: var(--font-size-fluid-1);
}

.site-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container {
  width: 100%;
  max-width: 68ch;
  padding: var(--size-4);
}

// form stuff
form {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  input,
  textarea,
  select {
    padding: var(--size-2);
    border: 2px solid var(--gray-3);
  }
}

button {
  padding: var(--size-2);
  background: var(--gray-1);
  border: 2px solid var(--gray-4);
  &:hover,
  &:focus {
    background: var(--gray-9);
    border: 2px solid var(--gray-9);
    color: var(--gray-1);
    cursor: pointer;
  }
}
