---
import Home from '../layouts/Home.astro'

import MastHead from "../components/MastHead.astro";
import ContactForm from '../components/forms/ContactForm';
---

<Home title={'Home'}>
    <MastHead title="Contact" />
    <p>You can reach out to us through the form below</p>
    <ContactForm client:idle />
</Home>
