---
import MainHead from "../components/MainHead.astro";

import MastHead from "../components/MastHead.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";

import url from "../animations/index.js?url";
import Newsletter from "../components/Newsletter";
---

<MainHead title="Tinybox: Home" />
<script type="module" src={url}></script>
<script type="module" src="/app.js"></script>

<div class="site-container theme__day">
  <main class="container">
    <MastHead />
    <section>
      <h2>Contact</h2>
      <p>This is where you can contact me</p>
    </section>
  </main>
  <Footer />
</div>
