---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";

import url from '../animations/index.js?url'
---

<MainHead title="Tinybox: Home" />
<script type="module" src={url}></script>
<script type="module" src="/app.js"></script>

<div class="site-container">
  <main class="container">
    <small>Tinybox Software</small>
    <h1>Bespoke Software Solutions</h1>
    <p>
      I'm Mykal, and Tinybox is my side business. I've always enjoyed working on
      complex problems, and I use Tinybox as an outlet for creative
      problem-solving.
    </p>
    <p>
      I've worked with friends and businesses on E-commerce websites, native
      applications, business intelligence, software integrations, and bespoke
      web apps.
    </p>
    <p>
      If you're interested in working together on a challenging technical
      problem, please reach out.
    </p>
  </main>
  <Footer />
</div>
