---
import Layout from '../../layouts/Layout.astro';
import ProjectCard from '../../components/ProjectCard.astro';

const projects = await Astro.glob('./**/*.md');
const nonDraftProjects = projects.filter(
  (project) => !project.frontmatter.draft
);
---

<Layout title="Work | Tinybox">
  <main>
    <section>
      <h1>Work</h1>
      <p>I've worked on a variety of projects, some public, some private. This page showcases a few of my public web projects.</p>
      <p>I'll continue to add new projects as they come out here.</p>
    </section>
    <section>
      <h2>Projects</h2>
      <div class="works__list">
        {nonDraftProjects.map((project) => <ProjectCard project={project} />)}
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  .works__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--size-3);
    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
</style>
