---
---

<section>
  <p>
    I'm Mykal, and Tinybox is a software consulting business I run on the side.
    I've always enjoyed working on complex problems, and I use Tinybox as an
    opportunity to do just that.
  </p>
  <p>I've worked with friends and businesses on:</p>
  <ul>
    <li class="ecomm">E-commerce websites</li>
    <li class="web-app">Web Apps</li>
    <li class="mobile-app">Mobile applications</li>
    <li class="dashboard">BI dashboards</li>
    <li class="integration">Software integrations</li>
  </ul>
  <p>all built to help solve real-world problems.</p>
  <p>
    If you're interested in working together on a challenging technical problem,
    please reach out.
  </p>
</section>

<style lang="scss">
  ul li {
    margin: var(--size-2) 0;
  }

  ul li.ecomm::marker {
    content: "💰";
  }

  ul li.web-app::marker {
    content: "💻";
  }

  ul li.mobile-app::marker {
    content: "📱";
  }

  ul li.dashboard::marker {
    content: "📊";
  }

  ul li.integration::marker {
    content: "🔗";
  }
</style>
