---
---

<footer class="container">
  <div id="footer_content">
    <p>Tinybox Software - Mykal Machon</p>
    <p><a href="mailto:info@tinybox.dev">info@tinybox.dev</a></p>
  </div>
</footer>

<style lang="scss">
  footer {
    padding: var(--size-3);
    border-top: 1px solid var(--gray-6);
  }
  p {
    font-size: smaller;
    margin: var(--size-2) 0;
  }
</style>
