---
const currentYear = new Date().getFullYear();
---

<footer class="container--wide__centered">
  <div class="footer">
    <section class="footer__content">
      <ul>
        <li><a href="https://twitter.com/MykalMachon">Twitter</a></li>
        <li><a href="https://github.com/TinyboxSoftware">GitHub</a></li>
        <li><a href="https://merch.tinybox.dev">Merch</a></li>
      </ul>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </section>
    <section class="footer__bottom">
      <p>&copy; {currentYear} Mykal Machon, <br />built with 💖 and 👨‍💻</p>
    </section>
  </div>
</footer>

<style lang="scss">
  footer {
    background: #505DFF;
    * {
      color: var(--gray-1);
    }
  }

  .footer {
    padding: var(--size-5) var(--size-3);
    width: 100%;

    a {
      padding: 0;
      text-decoration: underline;
      &:hover, &:focus{
        text-decoration: none;
        background: none;
        outline-color: var(--gray-1);
        background: none;
      }
    }

    .footer__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--size-3);
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        margin: var(--size-2) 0;
      }
    }
    .footer__bottom {
      width: 100%;
    }
  }
</style>
