<form name="contact" method="POST" data-netlify="true">
  <div class="form-control">
    <label for="name">Name </label>
    <input type="text" name="name" id="name" placeholder="Your Name" required />
  </div>
  <div class="form-control">
    <label for="email">Email </label>
    <input type="email" id="email" placeholder="Your email" required />
  </div>
  <div class="form-control">
    <label for="body">What do you want to work on? </label>
    <textarea
      name="body"
      id="body"
      cols={30}
      rows={5}
      placeholder="a brief description of who you are and what you want to work together on"
    ></textarea>
  </div>
  <button type="submit">Send your message!</button>
</form>
